<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Table for {{x}} and {{y}}</h1>
    <table>
        {% for i in range(0, x + 2):%}
        <tr>
            {% for j in range(0, y + 2): %}
                {% if j == 0 %}
                    {% if i == 0 %}
                    <td>X</td>
                    {% else %}
                    <td>{{i - 1}}</td>
                    {% endif %}
                {% else %}
                    {% if i == 0 %}
                    <td>{{j - 1}}</td>
                    {% else %}
                    <td>{{(i - 1) * (j - 1)}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>