<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{department.name}} - {{department.employees|length}}</h1>
    <p>Employees:</p>
    <ul>
        {% for employee in department.employees %}
        <li>{{employee.full_name()}}</li>
        {% endfor %}
    </ul>
    <h2>Select employee to transfer to {{department.name}}</h2>
    <form action='/departments/{{department.id}}/transfer_employee' method='POST'>
        <select name='employee_id'>
            {% for employee in non_department_employees %}
            <option value='{{employee.id}}'>{{employee.full_name()}}</option>
            {% endfor %}
        </select>
        <input type='submit'>
    </form>
</body>
</html>