<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>big mega corporation employee directory</h1>
    {% for employee in employees %}
    <a href='/employees/{{employee.id}}'>{{employee.first_name}} {{employee.last_name}}</a> <a href='/employees/{{employee.id}}/delete'>delete</a><br>
    {% endfor %}

    <a href='/employees/new'>Create a new employee!</a>
</html>