<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>create a new employee ok</h1>
    <form action='/employees/create' method=POST>
        First name: <input type='text' name='first_name'><br>
        Middle name: <input type='text' name='middle_name'><br>
        Last name: <input type='text' name='last_name'><br>
        Salary: <input type='number' name='salary'><br>

        <input type='submit'>
    </form>
</body>
</html>